.main-flex-container {
  display: flex;
  flex-direction: column;
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yt-logo {
  height: 30px;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
}

.searchBar {
  height: 30px;
  width: 750px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 5px;
  padding-left: 2%;
  border: 1px solid #666;
}

.searchButton {
  height: 34px;
  width: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f8f9fa;
  margin: -7px;
  border: 1px solid #666;
}

.signInButton {
  height: 40px;
  width: 80px;
  border-radius: 20px;
}

.page {
  display: flex;
  height: 100vh;
}

/* SideBar CSS */
.sidebar {
  width: 20%;
}

.sidebar button {
  display: block;
  height: 30px;
  width: 98%;
  background-color: rgb(230, 227, 227);
  border: none;
  border-radius: 5px;
  margin: 1px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

/* Card CSS */
.thumbnail {
  height: 200px;
  border-radius: 10px;
}

.card {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}

.card-body {
  display: flex;
  margin: 5px;
}

.card-text {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-text p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: bold;
}

.faded {
  font-size: 75%;
  color: #666;
}

.channelImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

/* <----------------------VideoPage CSS----------------------> */

.videoPage {
  display: flex;
}

.videoItem {
  width: 65%;
}

.description {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.description-text {
  margin-left: 20px;
  background-color: rgb(158, 157, 157);
  border-radius: 10px;
  padding: 5px;
}

.subscribe-button {
  background-color: black;
  color: white;
  font-weight: 700;
  height: 35px;
  width: 90px;
  border-radius: 25px;
  margin: 10px;
}

.pill {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 80px;
  border-radius: 25px;
  border: none;
  margin: 5px;
}

.download-pill {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  width: 100px;
  border-radius: 25px;
  border: none;
  margin: 5px;
}

.mixed-group {
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: space-around;
}
.suggestionBar {
  width: 30%;
  margin: 20px;
}

.iframe-video {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2%;
  margin: 10px;
}

/* Suggestion Card CSS */

.suggestion-card {
  display: flex;
}

.suggestion-thumbnail {
  height: 100px;
  margin: 10px;
  border-radius: 5%;
}
